
 <h1>directory<h1>
<ul>
  <div class= "card-container card text-decoration-none combine  "  >
    <% @directories.each do |directory| %>
      <span><%= directory.name %></span>
    <% end %>
  </div>
</ul>
