<%= link_to "<= Go back",  snippets_path, class:"btn btn-primary rounded-pill btn-sm", class: "back-btn" %>

<div class="show-container">
   <h2 class="code-title"><%= @snippet.title.capitalize %></h2>
    <div class="show-code">
      <div class="code-bar"><h6><%= @snippet.language%></h6></div>
      <textarea name="code-view" cols="30" rows="10"><%= simple_format(@snippet.content) %></textarea>

      <% if @snippet.private == true%>
        <p class="snippet-status">Snippet Status: Private</p>
      <%else%>
        <p>Snippet Status: Public</p>
      <%end%>
 </div>
</div>
