<% @likes.each do |like| %>
  <div class="favorite-post">
    <%= like.snippet.title %>

    <div class="buttons-action d-flex justify-content-between">
      <% if current_user == like.user %>
        <%= link_to like_path(like), data: { turbo_method: :delete, turbo_confirm: "Do you want to remove this snippet from your favorites ?" }, class: "btn btn-info btn-sup" do %>
          <i class="fa-solid fa-trash-arrow-up fa-bounce"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
