<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  New Directory
</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Creating a new Directory!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-backdrop="false"></button>
      </div>
      <div class="modal-body" style="
                    padding-right: 50px;
                    padding-left: 50px;
                    margin-top: 15px;
                    margin-bottom: 15px;">

        <%= simple_form_for [@directory] do |f| %>
          <div class="modal-text">
            <%= f.input :name, as: :string, label: "Directory's name:", placeholder: "Type your directory's name here...", input_html: { style: 'border-color: black;' } %>
            <%= f.input :private, as: :boolean, label: 'Make it private?', checked_value: 'positive', unchecked_value: 'negative', input_html: { style: 'border-color: black;' } %>
            <%= f.button :submit, class: "btn btn-primary mt-3", id: :btn_add %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
