<% video_tag 'background-video.mp4', autoplay: :autoplay, loop: :loop, muted: :muted %>
<div>
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col py-3" id="content">
        <h2>Welcome to CodeBank!</h2>
        <p>Save your code, save your time.</p>
        <div class="d-grid gap-2 col-4 mx-auto">
          <%= link_to "Explore", snippets_path, class:"btn btn-primary rounded-pill " %>
        </div>
      </div>
    </div>
    <%= image_tag "home_bg", id: "home_bg" %>
  </div>
</div>
