<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            overflow: hidden; /* Empêche le défilement de la page */
            background-color: black; /* Fond noir */
        }

        #background-iframe {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1; /* Place l'iframe en arrière-plan */
            opacity: 0.2; /* Ajuste l'opacité selon vos préférences */
        }

        #content {
            margin: 15px; /* Ajout de marges pour le contenu */
            z-index: 2; /* Assure que le contenu est au-dessus de l'image de fond */
            position: relative;
            color: white; /* Texte en blanc pour contraster avec le fond noir */
        }
    </style>
</head>
<body>

    <iframe src="https://giphy.com/embed/ko7twHhomhk8E" width="100%" height="100%" frameBorder="0" class="giphy-embed" allowFullScreen id="background-iframe"></iframe>

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col py-3" id="content">
                <h2>Content area...</h2>
                <p>Ce paragraphe contient le contenu principal de votre page.
