<video src="background-video"></video>
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col py-3" id="content">
      <h2>Welcome to CodeBank!</h2>
      <p>Save your code, save your time.</p>
    </div>
  </div>
</div>
