.directory-card {
  // background-color: lightgray;
  // position: absolute;
  display: flex;
  flex-direction: column;
  transition: 1s;
  opacity: 1;
  // background-color: red;
  // height: 192px;
  // width: 128px;
}


.directory-card .directory-icon {
  // background-color: $primary;
}

.directory-icon i {
  color: $primary;
}

.directory-icon:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.directory-card-name {
  color: $primary;
}

.directory-card:hover {
  border-color: $light-gray;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
}

.dir-snippet {
  width: fit-content;
  border-style: solid;
  border-top: 0;
  border-color: $cb_gray;
  border-radius: 25px;
  border-width: 1px;
}
