.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  background: white;
  margin-bottom: 80px;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  position: sticky;
}
