@media (min-width: 768px) {
  /* Apply styles only for devices with a screen width of 992 pixels or more (desktop) */
  .sidebar {
    width: 300px;
    height: 100%;
    background-color: $cb_blue;
    padding: 20px;
  }

  nav {
    display: block;
  }

  .main-content {
    margin-left: 300px;
    padding: 20px;
  }
}
